*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#left{
    width: 45%;
    height: 100%;
    background-color: rgb(255, 255, 255); 
}


#right{
    
    width: 55%;
    height: 100%;
}

#rtop{
    width: 100%;
    height: 50%;
}

#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.pexels.com/photos/5677798/pexels-photo-5677798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

    

#rtopleft{
    width: 45%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/918643/pexels-photo-918643.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}


#rtoprigh{
    width: 55%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/918643/pexels-photo-918643.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
}

#lnav{
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    /* padding: 1rem; */
}

#lnav a{
    border: 0 1px  solid;
    text-decoration: none;
    color: rgb(53, 51, 51);
} 

#lnavright i{
    color: blue;
}

#lnavright{
    padding-top: 3px;
    align-items: center;
}

.about{
    padding-right: 75px;
    font-size: 20px;
    padding-left: 250px;
}

.work{
    padding-right: 55px;
    font-size: 20px;

}

.ri-arrow-left-line{
    padding-right: 20px;
    padding-top: 8px;

}